<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Thu Jan 03 12:53:56 KST 2019-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="action.BoardMapper">

    <select id="list" parameterType="map" resultType="map">
        SELECT BNO, BTITLE, BNAME, BPWD, BCONT, BHIT, BDATE
        FROM BOARD
        ORDER BY BNO DESC
    </select>
    <!--    <select id="list" parameterType="Map" resultType="Map">-->
    <!--        <![CDATA[-->
    <!--        SELECT * FROM BOARD ORDER BY BNO DESC-->
    <!--        ]]>-->
    <!--    </select>-->

    <!--<select id="selList" parameterType="Map" resultType="Map">-->
    <!--    SELECT-->
    <!--        <if test='"Y".equals( getTotCount ) == true'>-->
    <!--            COUNT(*) AS TOTCNT-->
    <!--        </if>-->
    <!--        <if test='"Y".equals( getTotCount ) == false'>-->
    <!--            LIST.*-->
    <!--        </if>-->
    <!--    FROM (-->
    <!--        SELECT-->
    <!--            ROW_NUMBER() OVER( ORDER BY COI.ORG_LVL, COI.ORG_CD ) AS RNUM          -->
    <!--            -->
    <!--            , COI.ORG_CD   -->
    <!--            , COI.ORG_NM-->
    <!--            , COI.ORG_LVL-->
    <!--            , COI.PRNT_ORG_CD             -->
    <!--			, PCOI.ORG_NM AS PRNT_ORG_NM-->
    <!--            , PCOI.ORG_LVL AS PRNT_ORG_LVL-->
    <!--			, COI.TOT_ORG_NM       -->
    <!--			, COI.KCGEP_ORG_YN &lt;!&ndash; 본청 &ndash;&gt;			       -->
    <!--			, COI.KCGRH_ORG_YN &lt;!&ndash; 지방청 &ndash;&gt;-->
    <!--			, COI.KCGST_ORG_YN &lt;!&ndash; 해양경찰서 &ndash;&gt;-->
    <!--			, COI.SHIP_ORG_YN &lt;!&ndash; 함정 &ndash;&gt;-->
    <!--			, COI.KCGPS_ORG_YN &lt;!&ndash; 파출소 &ndash;&gt;-->
    <!--			, COI.BRN_ORG_YN &lt;!&ndash; 출장소 &ndash;&gt;-->
    <!--			, COI.KCGMW_ORG_YN &lt;!&ndash; 정비창 &ndash;&gt;-->
    <!--			, COI.KCGAC_ORG_YN &lt;!&ndash; 경찰학교 &ndash;&gt;-->
    <!--			, COI.KCGRS_ORG_YN &lt;!&ndash; 연구소 &ndash;&gt;-->
    <!--			, COI.ZIP-->
    <!--			, COI.ADDR-->
    <!--        FROM CCM_ORG_INFO COI-->
    <!--            LEFT OUTER JOIN CCM_ORG_INFO PCOI ON PCOI.ORG_CD = COI.PRNT_ORG_CD-->
    <!--        WHERE COI.DEL_YN = 'N'-->
    <!--        <if test='orgNm != null and "".equals( orgNm ) == false'>-->
    <!--            AND UPPER( COI.ORG_NM ) LIKE '%' || UPPER( #{orgNm} ) || '%'-->
    <!--        </if>-->
    <!--    ) LIST-->
    <!--    <trim prefix="WHERE" prefixOverrides="AND|OR">-->
    <!--        <if test='"Y".equals( getTotCount ) == false'>-->
    <!--            AND RNUM BETWEEN ( ( ( #{orgListPageIndex} - 1 ) * #{orgListPageSize} ) + 1 ) AND ( #{orgListPageIndex} * #{orgListPageSize} )-->
    <!--        </if>-->
    <!--    </trim>-->
    <!--    <if test='"Y".equals( getTotCount ) == false'>-->
    <!--        ORDER BY list.RNUM-->
    <!--    </if>-->
    <!--</select>-->
</mapper>